.arriere {
    background-image: url('../image/accueil/Pantherhome1..png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
    height: 50vw;
}

.T1 {
    font-size: 12px;
}

.texte {
    text-align: left;
}

.A {
    color: #FFFFFF;
}


/* TETE */

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding-top: 15px;
}

.menu {
    padding-left: 60%;
}

.header {
    padding-bottom: 80px;
}

.LOGO img:hover {
    color: #F2CEF2;
}

.logo-container img {
    transition: filter 0.3s ease-in-out;
}


/* aside */

.left {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 1vw;
    position: absolute;
    top: 0;
    left: 3vw;
    display: grid;
    position: fixed;
}

.Vertical-line1 {
    border-left: 3px solid #F2CEF2;
    min-height: 29vw;
}

.Vertical-line2 {
    border-left: 4px solid #F2CEF2;
    height: 19.1vw;
}

.Vertical-icon {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-left: 14px;
}

.Vertical-icon .icon {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    list-style-type: none;
    margin-left: -7px;
}

.vertical-icon .icon img {
    width: 16px;
}

.icons {
    padding-right: 10px;
    filter: brightness(0), invert(1), grayscale(100%), brightness(1);
    color: #FFFFFF;
}


/* TETE */

h1 {
    font-size: 50px;
    font-family: Panthera Regular;
}

h2 {
    font-size: 32px;
}

@font-face {
    font-family: Panthera Regular;
    src: url(../fonts/Panthera/PantheraRegular-MVZ9J.ttf);
}


/* SECTION GRID */

.contenaire {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 5vh;
    padding-bottom: 18vw;
    padding-bottom: 20vw;
}

.COLORED {
    color: #FFFFFF;
}


/* COLONNE */

.grid-contenaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-top: 15vw;
    font-size: 12px;
}

.collone1 {
    order: 1px solid black;
    padding: 10px;
}


/* kirakira */

.collone2 {
    padding-left: 100px;
    margin-left: 100px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
    position: relative;
    height: 400px;
    padding-top: 50%;
}

.row {
    padding: 5px;
    grid-gap: 10px;
}

.H3 {
    text-align: center;
    padding-right: 10px;
    font-size: 15px;
}

.dispo {
    position: absolute;
    top: 50px;
    left: 300px;
    transform: translate(-40%, -40%);
}

.image1 {
    top: 50%;
    left: 300px;
}

h4 {
    display: inline-flex;
    text-align: center;
    padding-left: 50px;
    /* background-color: #3D2DA6; */
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
}

.espace {
    padding-left: 8%;
    margin-left: 8%;
    height: 10%;
    width: 20%;
    border-radius: 5px;
    margin: 10px;
}

.partie {
    border-radius: 2px;
}

h3 {
    padding-left: 10px;
    text-align: center;
}

span {
    font-weight: bold;
    color: black;
}


/* login */

.login {
    color: black;
}

.fourth-content {
    background-image: url('../image/accueil/Pantherhome7.png');
    background-size: contain;
    padding-top: 15%;
    padding-bottom: 2%;
}

.formulaire {
    width: 50vw;
    height: 35vw;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff70 90.43%);
    border-radius: 15%;
    padding: 5%;
    line-height: 1.8;
    text-align: center;
    margin: 0 auto;
}

.formulaire p {
    color: var(--blue-color2);
    font-size: 1em;
}

.formulaire h2 {
    font-family: cantarell;
    color: var(--blue-color2);
    font-size: 2em;
    margin-bottom: 5%;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input {
    width: 80%;
    height: 3vw;
    border-radius: 3em;
    border: 1px solid var(red);
    background: transparent;
    padding-left: 3%;
    margin: 0 auto;
}

input::placeholder {
    color: var(--blue-color2);
    font-size: 1vw;
}

form button {
    width: 10vw;
    padding: 2% 3%;
    font-size: 1em;
    border-radius: 3em;
    background-color: #F2CEF2;
    border: none;
    margin: 0 auto;
    color: blue;
    font-family: cantarell;
    font-weight: bold;
}


/* footer */


/* FOOTER */

footer {
    background-image: url(../image/all/back_footer.png);
    background-position: center;
    padding-top: 8%;
    padding-bottom: 4.5%;
    margin-top: 12%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

.DIVIS2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15vw;
    /* padding-top: 25vw; */
}


/* col1 */

.petite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 8vw;
}

.row {
    display: grid;
    grid-template-rows: 1fr;
}

.FOOT1 {
    position: relative;
    left: 6vw;
    top: 1.5vw;
}

.FOOT2 {
    position: absolute;
    bottom: 2vw;
    margin-left: 6vw;
    top: 10vw;
}

.petite ul {
    list-style-type: none;
    display: flex;
    gap: 9%;
}

.ZOOM:hover {
    transform: scale(1, 2);
}

a img:hover {
    transform: scale(1, 2);
}