.arriere {
    background-image: url('../image/accueil/Pantherhome1..png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
    height: 50vw;
}

.T1 {
    font-size: 12px;
}


/* TETE */

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding-top: 15px;
}

.LOGO1 {
    color: #FFFFFF;
}

.bordure {
    position: fixed;
    height: 60vh;
    left: 60px;
    border-left: 5px white;
    /*animation fade in*/
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in 1s forwards;
}

body .bordure1 {
    height: 40vh;
    left: 90px;
    border-left: 5px solid white;
    position: fixed;
    /*animation fade in*/
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in 1s forwards;
}

body .iconBordure1 {
    position: fixed;
    left: 80px;
    top: 370px;
    margin-top: 15px;
    /*animation fade in*/
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in 1s forwards;
}

.iconBordure1:hover {
    filter: invert(64%) sepia(25%) saturate(347%) hue-rotate(219deg) brightness(90%) contrast(86%);
}

body .iconBordure2 {
    position: fixed;
    left: 80px;
    top: 435px;
    /*animation fade in*/
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in 1s forwards;
}

.iconBordure2:hover {
    filter: invert(100%) sepia(12%) saturate(99%) hue-rotate(241deg) brightness(110%) contrast(101%);
}

body .iconBordure3 {
    position: fixed;
    left: 80px;
    top: 485px;
}

.iconBordure3:hover {
    filter: invert(64%) sepia(25%) saturate(347%) hue-rotate(219deg) brightness(90%) contrast(86%);
}

body .iconBordure4 {
    position: fixed;
    left: 75px;
    top: 535px;
    /*animation fade in*/
    opacity: 0;
    transform: translateX(-100%);
    animation: fade-in 1s forwards;
}

.iconBordure4:hover {
    filter: invert(64%) sepia(25%) saturate(347%) hue-rotate(219deg) brightness(90%) contrast(86%);
}

.LOGO1 {
    width: 100px;
    color: white;
}

.texte {
    width: 30vh;
    padding-left: 80px;
}

h1 {
    font-size: 50px;
    font-family: Panthera Regular;
}

h2 {
    font-size: 32px;
}

@font-face {
    font-family: Panthera Regular;
    src: url(../fonts/Panthera/PantheraRegular-MVZ9J.ttf);
}


/* ASIDE */

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 10%;
    transform: translate(-900px);
    gap: 20px;
    z-index: 10;
}


/* SECTION GRID */

.contenaire {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 8vh;
}


/* COLONNE */

.grid-contenaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-top: 50%;
    font-size: 12px;
}

.collone1 {
    order: 1px solid black;
    padding: 10px;
}


/* kirakira */

.collone2 {
    padding-left: 50px;
    margin-left: 100px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
}

.row {
    padding: 5px;
    grid-gap: 10px;
}

.image1 {
    position: absolute;
    margin-bottom: 100px;
}

h4 {
    display: inline-flex;
    text-align: center;
    padding-left: 50px;
    background-color: #3D2DA6;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
}

.espace {
    padding-left: 8%;
    margin-left: 8%;
    height: 10%;
    width: 10%;
}

.partie {
    border-radius: 2px;
}

h3 {
    padding-left: 10px;
    text-align: center;
}

span {
    font-weight: bold;
    color: black;
}


/* login */

.login {
    background-image: url('../image/accueil/Pantherhome7.png');
    background-repeat: no-repeat;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    color: black;
    padding: 20px;
}

.div {
    margin-top: 500px;
    background-image: linear-gradient(#FFFFFF, transparent);
    border-radius: 25%;
}

.Classe {
    color: black;
}

.FORM {
    color: #021740;
}

.P1 {
    border-radius: 10px;
    background-color: transparent;
    text-align: left;
    border: 2px solid black;
}

.P2 {
    border-radius: 10px;
    background-color: transparent;
    text-align: left;
    border: 2px solid black;
}

.P3 {
    border-radius: 10px;
    background-color: transparent;
    text-align: left;
    border: 2px solid black;
    padding-bottom: 100px;
}

button {
    border-radius: 12px;
    background-color: #DF99F2;
}

.H {
    font-size: 11px;
}

.G {
    font-size: 25px;
}

.reguler {
    height: 45vh;
}


/* footer */

.CONTENAIRE {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    background-image: url('../image/accueil/Pantherhome7.png');
    color: white;
    background-color: blue;
}

.subgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.subgrid-item {
    padding-left: 15px;
}

img.COL1 {
    color: #DF99F2;
}