@font-face {
    font-family: BEYNO Regular;
    src: url(../fonts/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family: Panthera Regular;
    src: url(../fonts/Panthera/PantheraRegular-MVZ9J.ttf);
}

h1 {
    font-family: Panthera Regular;
}

@font-face {
    font-family: Cantarell Regular;
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}

@font-face {
    font-family: wakandaForver Regular;
    src: url(../fonts/wakanda_forever/WakandaForever-Regular.ttf);
}

h2 {
    font-family: BEYNO Regular;
}

p {
    font-family: Cantarell Regular;
    font-size: 10px;
}


/* tete */

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li:first-child {
    margin-left: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-family: BEYNO Regular;
}

li {
    color: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* Définit 3 colonnes égales */
    grid-gap: 10px;
    background-image: url('../image/enigme/Pantherenigme1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vw;
    /* Espacement entre les éléments */
}

.back {}


/* .grid-item {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20%;
} */

.P {
    padding-top: 200px;
    padding-left: 100px;
    float: right;
    background-image: url('../image/enigme/Pantherenigme2.png');
    background-repeat: no-repeat;
}

img {
    float: right;
}


/* .img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */


/* .grid-item p {
    margin-top: 50px;
    position: relative;
}

.P {
    margin-bottom: 100px;
} */