/* en tete  */

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding-top: 25px;
}

.menu {
    padding-left: 50vw;
}

.header {
    padding-bottom: 80px;
    overflow: hidden;
}

.LOGO {
    color: #FFFFFF;
}

.colored {
    color: #FFFFFF;
    text-decoration: none;
}

.picture {
    background-image: url('../image/wakanda/Pantherwakanda1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vw;
}

.text {
    text-align: left;
    font-size: 12px;
    padding-top: 50vh;
    padding-left: 100px;
}

.diviseur {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.deuxieme-colone {
    padding-left: 25px;
}

footer {
    background-image: url(../image/all/back_footer.png);
    background-position: center;
    padding-top: 8%;
    padding-bottom: 4.5%;
    margin-top: 12%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}


/* partie gauche */

.footer-left {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.5%;
}

.footer-left .img1 {
    position: relative;
    margin-right: 10%;
}

.footer-left .img1 img {
    width: 18vw;
}